{% extends 'base.html.twig' %}
{% block title %}User Profile{% endblock %}
{% block body %}
<div class="profile-container">
    {% set total = 0 %}
    <h1 class="profile-title">Имя пользователя: {{ user.username }}</h1>
    <h2 class="portfolio-title">Портфели пользователя:</h2>
    {% for portfolio in user.portfolios %}
        <div class="portfolio">
            <span class="portfolio-info">Портфель номер {{ portfolio.id }} имеет {{ portfolio.balance }} валюты и ценные бумаги:</span>
            <ul class="stock-list">
                {% for depositary in portfolio.depositaries %}
                    {% set total = total + depositary.quantity %}
                    <li class="stock-item">
                        Название ценной бумаги: {{ depositary.stock.name }}, количество: {{ depositary.quantity }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <h2 class="total-title">Общее количество: {{ total }}</h2>
</div>
{% endblock %}